<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Study Room Booking{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50">
    <!-- Header / Navbar -->
    <header class="bg-red-700 text-white p-6 shadow-md">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Thammasat University</h1>
            <nav>
                <a href="{% url 'booking:index' %}" class="px-4 hover:underline">Home</a>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <a href="{% url 'booking:admin_dashboard' %}" class="px-4 hover:underline">Admin dashboard</a>
                    <a href="{% url 'admin:index' %}" class="px-4 hover:underline">Admin interface</a>
                    {% endif %}
                <a href="{% url 'booking:my-bookings' %}" class="px-4 hover:underline">My Bookings</a>
                <form method="post" action="{% url 'booking:logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="px-4 hover:underline">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'booking:login' %}" class="px-4 hover:underline">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <!-- Page content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer
        class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-5 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            <p class="hover:">CN331 Study room booking </p>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Teepop B.</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Supakit A.</a>
            </li>
        </ul>
    </footer>
</body>

</html>